.unstake__container{
   margin-top: 80px;
}
.unstake__text__wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-between;
}
.unstake__text__wrapper h1{
    font-family: Arial,  sans-serif;
    font-weight: 800;
    font-size: 50px ;
    color: #2BF6E7;
 }
 .unstake__text__wrapper h3{
     font-family: Arial,  sans-serif;
     font-weight: 600;
     font-size: 20px ;
     color: #fff;
  }

.unstake__text__wrapper span {
    color:#FD70C3;
}
.unstake__data_wrapper{
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    overflow-y: hidden;
    overflow-x: scroll;
    height: 400px;
    align-items: center;
    padding: 0 20px;
    cursor: grab;
}
.unstake__data_wrapper::-webkit-scrollbar{
    display: none;
}
.unstake__data_wrapper .unstake__image__wrapper{
    margin-right: 20px;
}
.unstake__data_wrapper .unstake__image__wrapper img{
    max-width: 300px;
    border-radius: 1.5rem;
    box-shadow: 0px 0px 10px 0.2px #b678fd;
}
.unstake__button__wrapper button{
    border: none;
    font-size: 20px;
    font-weight: 600;
    font-family: Arial, sans-serif;
    padding: 20px 90px;
    border-radius: 1.8rem;
    box-shadow: 0px 14px 14px -7px #FD78C5;
	background:linear-gradient(to left, #FD78C5 5%, #5F36C4 100%);
    color: #fff;
 }
 @media only screen and (max-width: 578px){
    .unstake__text__wrapper h1{
        font-family: Arial,  sans-serif;
        font-weight: 800;
        font-size: 30px ;
        color: #2BF6E7;
 }
 }
 
 @media only screen and (max-width: 400px) {
    .unstake__text__wrapper h1{
        font-family: Arial,  sans-serif;
        font-weight: 800;
        font-size: 30px ;
        color: #2BF6E7;
 }
}