
/* import url('./assets/fonts/MPLUSRounded1c-Black.ttf'); */
*{
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

@font-face {
  font-family: "mplusbold";
  src: local("mplusbold"),
   url("./assets/fonts/MPLUSRounded1c-Black.ttf") format("truetype");
  font-weight: bold;
}
  